.explorer {
    width: 100%;
    height: 796px;
    position: relative;
    overflow: hidden;

    background: url("../img/Banner.jpg") center no-repeat;
    background-size: cover;
    box-shadow: 30px 50px 53px #1c1311 inset;
    &__blog {
        padding: 234px 0px 0px 0px;
    }
    &__title {
        font-family: Lora;
        font-size: 2.1rem;
        line-height: 44 / 35 * 100%;
        color: #fff;
    }
    &__subtitle {
        font-family: Playfair;
        font-weight: 700;
        font-size: 3.75rem;
        line-height: 80 / 60 * 100%;
        color: $yellowColor;
        margin-top: 15px;
        @media (max-width: $md1) {
            font-size: 2.75rem;
        }
        @media (max-width: $md2) {
            font-size: 2.5rem;
        }
    }
    &__text {
        font-family: Poppins;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 30 / 20 * 100%;
        margin-top: 15px;
        max-width: 814px;
        @media (max-width: $md1) {
            max-width: 514px;
            font-size: 1rem;
        }
    }
}