.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    &__menu {
        height: 154px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $md2) {
            justify-content: center;
        }
    }
    &__img {
        text-align: center;
        img {
            width: 100%;
        }
        @media (max-width: $md1) {
            display: none;
        }
    }
    &__list {
        display: flex;
    }
    &__item {
        margin-left: 45px;
    }
    &__item:first-child {
        margin-left: 0px;
    }
    &__link {
        font-weight: 500;
        line-height: 24 / 16 * 100%;
        color: #645f58;
        transition: color 0.2s linear;
        @media (max-width: $md2) {
            font-size: 0.8rem;
        }
    }
    &__link:hover {
        color: #FFFFFF;
    }
    @media (max-width: $md2) {
        .btn-none {
            display: none;
        }
    }
}