.nft {
    width: 100%;
    height: 1014px;

    background: url("../img/nft/Banner-nft.jpg") center no-repeat;
    background-size: cover;
    &__row {
        margin-top: 0px;
        padding-top: 196px;
        max-width: 513px;
    }
    &__top-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 336px;

        margin-top: 100px;

        @media (max-width: $md1) {
            max-width: 250px;
        }
    }
    &__item-top {
        background: rgba(160, 105, 48, 0.4);;
        height: 60%;
        display: flex;
        align-items: center;
        padding: 20px;
        line-height: 24 / 16 * 100%;
        border-radius: 5px 5px 0px 0px;

    }
    &__item-bottom {
        background-color: rgba(0, 0, 0, 0.4);
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        line-height: 24 / 16 * 100%;
        border-radius: 0px 0px 5px 5px;
    }
    &__item-bottom-title {
        font-family: Playfair;
        font-weight: 700;
        font-size: 1.3rem;
        color: $yellowColor;
    }
    &__item-bottom-subtitle {
        font-family: Poppins;

        margin-top: 10px;
    }
    &__bot-row {
        display: flex;
        margin: -10px;
    }
    &__item-bot {
        flex: 0 1 33.333%;
        padding: 10px;
    }
}

