.nunc {
    width: 100%;
    padding-bottom: 300px;

    &__blog {
        display: flex;
        position: relative;
    }
    &__blog-title {
        margin-top: 85px;
        max-width: 513px;
        @media (max-width: $md1) {
            max-width: 800px;
        }
    }
    &__row-left {
        margin-top: 85px;
        max-width: 490px;
    }
    &__title {
        font-family: Playfair;
        font-weight: 700;
        font-size: 3.1rem;
        line-height: 66 / 50 * 100%;
        color: $yellowColor;
    }
    &__subtitle {
        font-family: Poppins;
        font-size: 1.25rem;
        line-height: 33 / 20 * 100%;

        margin: 35px 0px 25px 0px;
    }
    &__imgs {
        flex: 1 1 auto;
    }
    &__img-1 {
        position: absolute;
        top: 114px;
        right: 381px;
    }
    &__img-2 {
        position: absolute;
        top: 274px;
        right: 215px;
    }
    &__img-3 {
        position: absolute;
        top: 23px;
        right: 21px;
    }
    &__img-4 {
        position: absolute;
        top: 195px;
        left: 0;
    }
    &__img-5 {
        position: absolute;
        top: 280px;
        left: 228px;
    }
    &__img-6 {
        position: absolute;
        top: 195px;
        left: 462px;
    }
}

@media(max-width: 1135px) {
    .nunc__img-1 {
        top: 114px;
        width: 160px;
        right: 255px;
    }
    .nunc__img-2 {

        top: 238px;
        right: 144px;
        width: 100px;
    }
    .nunc__img-3 {

        top: 57px;
        right: 41px;
        width: 160px;
    }
}

@media(max-width: 1221px) {
    .nunc__img-4 {
        top: 195px;
        left: 0px;
        width: 160px;
    }
    .nunc__img-5 {
        top: 280px;
        left: 149px;
        width: 160px
    }
    .nunc__img-6 {
        top: 195px;
        left: 298px;
        width: 160px;
    }
    @media (max-width: $md1) {
        .none {
          display: none;
        }
      }
}


