.rectengle {
    width: 100%;
    height: 300px;
    &__blog {
        padding: 130px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        text-align: center;
        img {
            width: 100%;
        }
    }
}
