$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1258px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$maincolor: #E9DEC3;
$yellowColor: #E2A23B;

@import "_nullstyle.scss";
@import "_header.scss";
@import "_explorer.scss";
@import "_rectengle.scss";
@import "_medieval.scss";
@import "_nunc.scss";
@import "_nft.scss";
@import "_form.scss";
@import "_info.scss";
@import "_footer.scss";

html,
body {
  height: 100%;
  line-height: 1;
}

body {
    font-family: Poppins, Playfair, Inter, Lora;
    font-size: 16px;
    color: $maincolor;
    background-color: #000000;
  }

  /* ----------------*/
  .wrapper {
    overflow: hidden;
    min-height: 100%;
  }

  /* ----------------*/
  .container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 15px;
  }

.btn {
  display: inline-block;
  padding: 13px 42px;
  color: #1C1311;
  border-radius: 5px;
  transition: background-color 0.2s linear;
}
.btn-yellow {
  background-color: #E2A23B;
}
.btn-yellow:hover {
  background-color: #c28b31;
}
.btn-white {
  background-color: #DBDBDB;
  margin-top: 15px;
}
.btn-white:hover {
  background-color: #a9a9a9;
}
